.history-img {
    border-radius: 10px;
    width: 350px;
    margin: 0 auto 1.5rem auto;
}
.history-text {
    font-family: 'Very';
    text-align: justify;
    font-size: 18px;
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
}
@media (min-width: 576px) and (max-width: 1023px) {
    .history-img {
        width: 450px;
    }
}

@media (min-width: 1024px) {
    .history-img {
        width: 500px;
    }
}